{% extends'base.html.twig' %}

{% block title %} Maso-Numérique MN - Accueil {% endblock %}

{% block body %}
<div class="container my-5">
<div class="jumbotron">
  <h1 class="display-4">Bienvenue sur le site Maso-Numérique MN</h1>
  <p class="lead">Le site qui te fait du mal à coup de code ... mais tu aimes ça !!!!</p>
  <hr class="my-4">
  <p>Si tu veux propager tes astuces ou en pomper d'autres ... Vas-y fais toi du bien !!!!
   <br>Et surtout rendez-vous sur la page d'inscription </p>
  <a class="btn btn-info btn-lg" href="#" role="button">Inscription</a>
</div>
</div>

{% endblock %}



